ul.simple {
    list-style-type : none;
    padding         : 0;
}
ul.simple li a {
    display : inline-block;
    padding : 0.5em;
    width   : 100%;
}
ul.simple li a:hover {
    background-color: rgba(0,0,0,0.1);
}
ul.simple li a.active {
    background: #5AF;
    color     : #FFF;
}
ul.simple li + li {
    border-top: 1px solid rgba(0,0,0,0.2);
}
